.product-card{
    max-width: 200px;
}

mat-card:hover{
    transform: scale(1.05);
    opacity: 0.6;
    cursor: pointer;
}
mat-card{
    transition: 0.3s;
    
}

.flex-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
    align-content: stretch;
    justify-content: start;
    gap: 50px;
}